@import url("https://fonts.googleapis.com/css?family=Merriweather:300,900|Six+Caps");

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
/*   display: grid;
  grid-template-columns: repeat(12, 1fr); */
/*   grid-template-rows: repeat(4, 1fr); */
/*   grid-template-areas: "header header header"
   ". carrousel ."
  " . products ." 
  "footer footer footer" */
}


img {
    display: block;
    width: 100%;
    height: auto;
}


                                                        /* Navbar */
header {
    background: #000;
    text-align: center;
    position: fixed; 
    z-index: 999;
    width: 100%;
}
.logo{
    color: #e9d20f;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;  /* I'll told him where is going to go */
    top: 0;
    left: 0;
    margin-left: 1em;   /* Line up with the "a" elements */
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #fff;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #000;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: purple;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}



                                                    /* Showcase */
#showcase{
    padding-top: 3em;
    min-height: 644px;
    color: #fff;
    text-align: center;
}

#showcase .image{
    position: absolute;
    background: url('img/01.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    z-index: -1;
    opacity: .85;
}

#showcase h1{
    margin-top: 100px;
    padding-bottom: 0;
}
#showcase p{
    margin: 0;
    padding: 1em;
    color: #000;
}

#showcase .content-wrap {
    padding: 0 1.5em;
}

.btn{
    display: inline-block;
    color: #fff;
    background: #000;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #000;
    margin: 0.5em 0;
}
.btn:hover{
    background: yellow;
    color: #000;
}



                                                        /* Products */
.products{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: ". container ."
}


.container {
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    grid-gap: 1em;
    margin: auto;
    height: auto;
/*     background: #262626;
 */}

.box {
    position: relative;
    background: #000;
    width: calc(370px - 30px);
    height: calc(270px - 30px);
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.box:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: .5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 1;
}

.box:hover:before {
    transform: scaleX(1);
    opacity: 1;
}

.box::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: .5s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;
}

.box:hover::after {
    transform: scaleY(1);
    opacity: 1;
}

.box .imgBox {
    position: relative;
}

.box .imgBox img {
    width: 100%;
    height: 240px;
    transition: .5s;
}

.box:hover .imgBox img {
    opacity: .2;
    transform: scale(1.2);
}

.box .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.box .content h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    transition: .5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}

.box .content p {
    margin: 0;
    padding: 0;
    color: #fff;
    transition: .5s;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
}

.box:hover .content h2,
.box:hover .content p {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: .2s;
}


                                                        /* Text */


.txt-a{
    background: #000;
    color: #e9d20f;
    padding-bottom: 2em;
    text-align: center;
}

.txt-a .content-wrap {
    padding: 0 1.5em;
}

.txt-a h1, p{
    margin: 0;
    padding: 1em 0;
}




/* Media */
@media screen and (min-width: 768px){ /* Desktop */

    /* Navbar */
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr minmax(600px, 7fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: yellow;
        position: absolute;
        top: -.50em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

    /* Showcase */
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #showcase{
        padding-top: 3em;
    }
    #showcase h1{
        margin-top: 100px;
        font-size: 3em;
    }

    #showcase .image{
        height: 644px;
    }
    .content-wrap{

        grid-column: 2/4;
    }

}

@media (max-width: 1200px) { /* Tablet */
    /* Products */
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        width: auto;
    }

    .box {
        width: calc(350px - 30px);
        height: calc(250px - 30px);
        margin: 15px auto;
    }
}

@media (max-width: 600px) { /* Smartphone */
    .container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        height: auto;
    }

    .box {
        width: calc(320px - 30px);
        height: calc(220px - 30px);
        margin: 15px auto;
    }

    .box .content {
        position: absolute;
        width: 100%;
        top: 40%;
        transform: translateY(-50%);
        z-index: 2;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    }
}